
h1 {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color:black;

}   

h2 {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #a3a3a3;
}

body {
    background-color: white;
}

a {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: orange;
    text-decoration: none;
    
}

ul {
    list-style: none;
}

a:hover {
    opacity: 0.5;
}
